/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  margin-top: 50px;
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #E7E7E7;
}

a, a:visited, a:active, 
.link, .link:visited, .link:active {
    background-color:  #5a5a5a;
    color: #dedede;
    padding: 0 3px 0 3px;
}

a:hover, .link:hover {
    background-color: transparent;
    color: #5a5a5a;
    text-decoration: underline;
    cursor: pointer;
}

a.btn-link, a.btn-link:visited, a.btn-link:active, a.btn-link:focus,
.btn-link, .btn-link:visited, .btn-link:active, .btn-link:focus {
    background-color:  #5a5a5a;
    color: #dedede;
    padding: 10px 16px;
    text-decoration: none;
}

a.btn-link:hover,
.btn-link:hover {
    background-color:  transparent;
    color: #5a5a5a;
    padding: 10px 16px;
    border-color: #adadad;
    text-decoration: none;
}


footer {
    border-top: 2px solid #5a5a5a;
    border-bottom: 2px solid #5a5a5a;
    padding-top: 15px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar {
	display: none;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-examples {
  margin: 100px 0; /* Space out the Bootstrap <hr> more */
  border-width: 20px;
  border: solid;
}

.featurette-divider-examples-hide {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
  border-width: 0;
  border: none;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-example {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  background-color:  #2b9464;
  padding: 10px;
  margin-left: -90px;
  margin-right: 70px;
}

.featurette-heading-example .text-muted {
  background-color:  #2f7656;
  padding: 15px;
}

.featurette-heading-example .text-muted a {
    color: #CCC;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading, .featurette-heading-example {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading, .featurette-heading-example {
    margin-top: 120px;
  }
}

@media (max-width: 1200px) {

  .featurette-heading-example {
      margin-left: 0;
      margin-right: 0;
    }

  .featurette-heading-example .text-muted {
       padding: 2px 4px;
    }

  .featurette-divider-examples-hide {
      margin: 50px 0; /* Space out the Bootstrap <hr> more */
      border-width: 0;
      border: none;
    }
}

.wheelNav400 {
    height: 400px;
    width: 400px;
    margin: auto;
}

.wheelNav350 {
    height: 350px;
    width: 350px;
    margin: auto;
}

.wheelNav300 {
    height: 300px;
    width: 300px;
    margin: auto;
}

.wheelNavExample300 {
    height: 350px;
    width: 350px;
    margin: auto 80px auto auto;
}

.wheelNav200 {
    height: 200px;
    width: 200px;
    margin: auto;
}

.wheelNav200fix {
    height: 200px;
    width: 200px;
    margin: auto;
}

.wheelNavHalfTitle {
    display: block;
    margin-bottom: -5px;
    text-align: center;
}

.wheelNavHalf200 {
    height: 115px;
    width: 150px;
    margin: auto;
}

.wheelNav100 {
    height: 150px;
    width: 110px;
}

.wheelNavChapter {
    height: 100px;
    width: 100px;
    margin: auto;
}

@media (max-width: 480px) {
  .wheelNav400 {
    height: 300px;
    width: 300px;
    margin: auto;
  }

  .wheelNav350 {
    height: 250px;
    width: 250px;
    margin: auto;
  }

  .wheelNav300 {
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .wheelNav200 {
    height: 160px;
    width: 160px;
  }

  .wheelNavHalf200 {
    height: 105px;
    width: 150px;
  }

  .wheelNav100 {
    height: 100px;
    width: 60px;
  }
}

/*#region Pricing table */

.flat .plan {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fff;
}
.flat .plan li {
    padding: 10px 15px;
    color: #999;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.flat .plan li.plan-notop {
  border-top: 0;
}
.flat .plan li.plan-title {
  border-top: 0;
  font-size: 16px;
  padding-top: 0px;
  color: #333;
}
.flat .plan li.plan-name {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 30px;
    border-top: 0;
}

.flat .plan li.plan1 {
    background: #2ECC40;
}
.flat .plan li.plan2 {
    background: #FFDC00;
}
.flat .plan li.plan3 {
    background: #FF851B;
}
.flat .plan li.plan4 {
    background: #FF4136;
}

.flat .plan li > strong {
  color: #333;
}
.flat .plan-action {
  margin-top: 5px;
  margin-bottom: 20px;
}
.flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.flat .plan:hover li.plan-name {
  background: #000;
}

/*#endregion */

.outerlink {
    color: #428bca;
    text-decoration: none;
}

.outerlink:hover {
    color: #428bca;
    text-decoration: underline;
    cursor: pointer;
}

/*thanks*/

.developers {
    background-color:  #2ac56c;
    color: #ffffff;
    padding: 10px;
}

.bloggers {
    background-color:  #f06060;
    color: #ffffff;
    padding: 10px;
}

.visitors {
    background-color:  #4593e3;
    color: #ffffff;
    padding: 10px;
}

.thanks {
    font-size: 20px;
}

.html5 {
    margin-top: -4px;
    cursor: pointer;
}
